@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');



:root{
    --cor1: #a47c4c;
    --cor2: #f3ebd3;
    --cor3: #2c1c04;
    --cor4: #ac8454;
    --cor5: #d4ccb4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--cor1);
    text-align: center;
    padding: 0.4rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

.logo{
    display: flex;
    margin: auto;
}


.cabecalho {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", 'Courier New', Courier, monospace;
    font-weight: bold;
    align-items: center;
    width: 100%;
}

.menu1,
.menu2,
.menu3, .menu4, .menu5{
    padding: 1%;
   
    
}

.cabecalho a {
    text-decoration: none;
    color: var(--cor3);
    font-size: 1rem;
    
    
}

.pesquisa{
    background-color: var(--cor2);
    border: solid var(--cor2) 0.2rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 20%;
    
} 
   


.txtbusca {
    background-color: transparent;
    border: none;
    flex-grow: 3;
    min-width: 9.375rem;
    width: 100%;
    
}

.lupa{
    width: 1.5rem;
}

.perfil{
    margin: auto;
}

.iconperfil{
    width: 4rem;
}

main{
    margin-top: 110px;
}



/* inicio estilização fundo madeira */
.quemsomos{
    width: 100%;
    height: 110PX;
    background-image: url(/img/fundo_madeira.png);
    background-repeat:repeat-x;
    display: flex;
    color:  var(--cor5);
    font-size: 50px;
    justify-content: right;
    font-weight: 500;
    font-family: "Fira Code", monospace;

    
}

.quemsomos>p{
   
   padding: 16px 100px 16px 0;
  
  }

  /* /////////////////////////////////////////////////////////////fim estilização fundo madeira ////////////////////////////////////// */

    /* inicio estilização container */
  .container{
    width: 100%;
    height: 100vh;
    border: solid 1px plum;
    background-image: url('/img/planofundo.png');
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: center;
    
  }

  article{
    width: 87.5rem;
    height: 700px;
    border: solid 1px plum;
    margin: auto;
    background-color: var(--cor2);
    opacity: 0.5; 
    font-family: "Fira Code", monospace;
    font-size: 33px;

}

  .description{
    padding: 50px;
    font-weight: 900;

    
  }
